.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*==========================================
    # Footer Credits (if theme supports it)
 ==========================================*/
//.footer--credits__content {
//  display: flex;
//  justify-content: space-between;
//}