body{
	background-color: transparent;
}

.page-header{
	display: none;
}

body{
	background-color: white;
	padding-bottom: 0;
}

.inside-header{
	background: url(/wp-content/uploads/jf-brou-358069-unsplash.jpg) 50% 50% / cover;
	background-position: 50% 50%; 
	background-size: cover;
	padding-top: 300px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
	margin-bottom: 3em;
}

.site-footer{
	position: static;
	background-color: white;
	margin-top: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	
}

/* header area */

header{
	margin-bottom: 0 !important;
}

/* typography */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body{
	font-size: 16px;
	color: #565656;
}

body *{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}

h1{
	font-size: 3.125em;
}

h2{
	font-size: 2.3em;
}

h3{
	font-size: 1.7em
}

h4{
	font-size: 1.4em;
}

h5{
	font-size: 1.2em;
}

h6{
	font-size: 1em;
}

.caps {
	text-transform: uppercase;
}

.thin{
	font-weight: 300;
}

.bold{
	font-weight: 700;
}

.color-bg{
	color: white;
}

a{
	color: #709ac5;
	transition: .2s ease-in-out;
}

a:hover{
	color: #225d9a;
	text-decoration: none;
}

/* page background color */
.page{
	background-color: #efefef;
}

/* limit size of blog page */


/* grid layout for browsers that don't support grid */
.tile-link{
	display: block;
	float: left;
	width: 49%;
	height: 500px;
	overflow: hidden;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.tile-continue-reading{
	display: none
}

.blog-layout .blog-grid{
	clear: both;
}

/* grid layout for browsers that do support grid */
@supports (display: grid){
	.tile-link{
		clear: both;
		width: 100%;
		height: auto;
		margin: 0;
	}

	.tile-continue-reading{
		display: block;
	}

	.blog-grid{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: 1.5em;
		margin-top: 1.5em;
	}

	@media only screen and (min-width: 768px){
		.blog-grid{
			grid-template-columns: repeat(2, 1fr);	
		}
	}

	@media only screen and (min-width: 1024px){
		.blog-grid{
			grid-template-columns: repeat(3, 1fr);	
		}
	}

}

/* grid tiles (fonts, links, images, etc.) */
.tile-feat-img, .feat-img{
	display: block;
	width: 100%;
	padding-bottom: 67%;
	background-position: 50% 50%;
	background-size: cover !important;
	transition: .3s ease-in-out;
}

a.tile-link, a.text-tile-link{
	background-color: white;
	color: black;
	position: relative;
	padding-bottom: 3.2em;
	transition: .3s ease-in-out;
	overflow: hidden;
}

a.tile-link:hover{
	background-color: #0d9f9e;
	color: white;
}

a.tile-link:hover .tile-feat-img, a.feat-link:hover .feat-img, a.text-tile-link:hover .tile-feat-img{
	transform: scale(1.03);
}

.tile-text-wrap{
	margin: 1.5em
}

.tile-continue-reading{
	font-size: 1em;
	position: absolute;
	left: 1.5em;
	bottom: .8em;
}

.tile-meta{
	border-bottom: 2px solid #e7e7e7;
	padding-bottom: 1em;
	margin-bottom: 1em;
}


/* feat post (larger post at top of page) */
.feat-continue-reading{
	margin-bottom: 0;
}

.feat-wrap{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .85);
	color: black;
	padding: 1.5em 2em;
	width: 100%;
}

.feat-link{
	position: relative;
	transition: .2s ease-in-out;
	overflow: hidden;
}

.feat-post{
	overflow: hidden;
	position: relative;
}



/* grid layout with sidebar */


/* grid adjustment */
@supports (display: grid){

	@media only screen and (min-width: 768px){
		.blog-layout-sidebar .blog-grid{
			grid-template-columns: repeat(2, 1fr);	
		}
	}
}

/* sidebar */
.blog-layout-sidebar .sidebar > h3{
	margin-top: 0;
	font-size: 23px;
	border-bottom: 1px solid rgb(86, 86, 86);;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

.blog-layout-sidebar .feat-wrap{
	position: static;
}

.feat-post:hover .feat-wrap{
	background-color: #0d9f9e;
	color: white;
}

a.recent-post{
	display: block;
	color: black;
	margin-bottom: 1em;
}

a.recent-post *{
	transition: .3s ease-in-out;
}

a.recent-post h4{
	font-size: 1em;
}

a.recent-post:hover{
	color: #0d9f9e;
}

a.recent-post:hover .recent-post-thumb img{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.31);
}

.recent-post-text{
	padding-left: 0;
}

.recent-post-meta{
	font-size: .8em;
	margin-bottom: .5em;
}

/* no excert sample */

.no-excerpts{
	text-align: center; 
}

.no-excerpts a.tile-link{
	padding-bottom: 0em;
}

/* text focused blog */

.text-focused-flex{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 1700px;
}

a.text-tile-link{
	display: block;
	max-width: 33%;
	background-color: white;
	margin: .5em;
	color: black;
	transition: .3s ease-in-out
}


a.text-tile-link:hover {
	color: white;
	background-color: #0d9f9e;
}